
<nav class="d navbar navbar-expand-lg navbar-light bg-light">
  <button type="button" class="btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
    ورود / ثبت نام
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-left: 30px;">
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]= "['#']"> تماس با ما</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  [routerLink] ="['#']"> راهنمایی</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['#']"> درباره ما</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['#']">بلاگ</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['#']"> کاردانی</a>
      </li>

    </ul>


    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">

      </ul>

      <button  class="btn btn-sm btn-primary back" type="button"></button>

    </form>
  </div>
</nav>



